* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-color: #e3ffcd;
  --secundary-color: #b8dea4;
  --font-style: 'DM Mono', monospace;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/marg2.avif');
  background-size: cover;
  font-family: var(--font-style);
}

.container {
  text-align: center;
  background-color: white;
  margin-top: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
}

h1 {
  font-size: 1.6rem;
  font-weight: 100;
}

/* Estilo do botão de frase */
button {
  font-size: 4rem;
  border: none;
  cursor: pointer;
  background: none;
}

/* Estilo específico para o botão de voltar */
.button-voltar {
  display: flex;
  font-size: 2rem; /* Tamanho do botão de voltar */
  margin-top: 2rem; /* Espaço acima do botão de voltar */
  padding: 1rem 2rem; /* Espaçamento interno do botão */
  border-radius: 5px; /* Cantos arredondados */
  background-color: #000; /* Cor de fundo */
  color: white; /* Cor do texto */
  transition: background-color 0.3s; /* Efeito de transição */
}

/* Efeito de hover para o botão de voltar */
.button-voltar:hover {
  background-color: var(--secundary-color); /* Muda a cor ao passar o mouse */
}
