* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-color: #e3ffcd;
  --secundary-color: #b8dea4;
  --font-style: 'DM Mono', monospace;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  font-family: var(--font-style);
  font-size: 1.6rem;

  background-color: var(--primary-color);
}

.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1; /* O conteúdo principal ocupará o espaço restante */
  justify-content: center;
}

.menu-container button {
  width: 90%;
  max-width: 60rem;
  padding: 2rem;
  margin: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-container button:hover {
  background-color: var(--secundary-color);
}

footer {
  color: #000;
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: relative; /* Ajusta a posição do footer */
  bottom: 0;
}

footer p {
  margin: 0;
}
